<div class="chat-page">

  <div class="chat-container">

    <div class="chat-header">
      <div>
        <p class="chat-badge">Analyse IA</p>
        <h1><%= @chat.title %></h1>
      </div>
    </div>

    <div id="messages" class="messages-container">

      <% @chat.messages.each do |message| %>

        <% if message.role == "user" %>

          <div class="message-row user-row">
            <div class="message-bubble user-bubble">
              <%= raw(render_markdown(message.content)) %>
            </div>
          </div>

        <% elsif message.role == "assistant" %>

          <div class="message-row assistant-row">

            <div class="assistant-avatar">
              🤖
            </div>

            <div class="assistant-card">

              <div class="fact-status">
                <span class="status-badge">Plutôt faux</span>

                <div class="confidence-score">
                  <span>85%</span>
                  <small>Confiance</small>
                </div>
              </div>

              <div class="assistant-content">
                <%= raw(render_markdown(message.content)) %>
              </div>

              <div class="message-feedback">
                <span>Cette réponse t’a aidé ?</span>

                <div class="feedback-buttons">
                  👍 👎
                </div>
              </div>

            </div>

          </div>

        <% end %>

      <% end %>

    </div>

    <div class="new-message-wrapper">

      <%= simple_form_for [@chat, @message], html: {
        data: { controller: "submit-on-enter" }
      } do |f| %>

        <div class="fake-chat-input">

          <%= f.input :content,
          label: false,
          required: true,
          placeholder: "Pose ta question...",
          input_html: { data: { action: "keydown->submit-on-enter#submitOnEnter" } } %>

          <%= f.button :submit, "➜", class: "send-button" %>

        </div>

      <% end %>

    </div>

  </div>

</div>
